@page
@model CandidateManagementWebsite.Pages.CandidateProfilePage.DeleteModel

@{
    ViewData["Title"] = "Delete";
    String RoleID = HttpContext.Session.GetString("RoleID");
    if (RoleID != "1" && RoleID != "2")
    {
        Response.Redirect("/NotPermission");
    }
}

<div class="container mt-5">
    <h1 class="text-danger">Delete Candidate Profile</h1>
    <h3 class="mb-4">Are you sure you want to delete this?</h3>

    <div class="bg-light p-4 rounded border">
        <h4>Candidate Profile Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CandidateProfile.Fullname)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CandidateProfile.Fullname)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CandidateProfile.Birthday)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CandidateProfile.Birthday)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CandidateProfile.ProfileShortDescription)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CandidateProfile.ProfileShortDescription)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CandidateProfile.ProfileUrl)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CandidateProfile.ProfileUrl)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CandidateProfile.Posting.PostingId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CandidateProfile.Posting.PostingId)
            </dd>
        </dl>
    </div>

    <form method="post" class="mt-4">
        <input type="hidden" asp-for="CandidateProfile.CandidateId" />
        <button type="submit" class="btn btn-danger me-2">Delete</button>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
